.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.8mm;
  width: 100%;
}
input {
  padding: 18px 24px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 10px;
  width: 100%;
}
textarea {
  padding: 18px 24px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 10px;
  width: 100%;
}
button {
  background-color: rgb(92, 92, 207);
  border-radius: 10px;
  padding: 18px 100px;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  margin-bottom: 30px;
  transition: all 250ms;
  outline: none;
  border: none;
}
