/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./form.css');
@import url('./gallery.css');
/* Sections style */
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 200px;
}
.nav-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: center;
}
.nav-link {
  background-color: rgb(92, 92, 207);
  border-radius: 10px;
  padding: 20px 100px;
  width: 100%;
  font-size: 64px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  transition: all 250ms;
}
.nav-link:hover {
  background-color: rgb(62, 62, 145);
}
.back-link {
  background-color: rgb(92, 92, 207);
  border-radius: 10px;
  align-self: start;
  padding: 14px 50px;
  /* width: 100%; */
  font-size: 32px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  margin-bottom: 30px;
  transition: all 250ms;
}
.back-link:hover {
  background-color: rgb(62, 62, 145);
}
